* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #DFF2FE;
    font-family: 'Lato', sans-serif;
}

section {
    background-color: #F0F9FF;
    width: 1300px;
    max-width: 92%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.currentlyReading {
    display: flex;
    margin: auto;
    border-radius: 15px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.book img {
    height: 300px;
    margin-bottom: 15px;
}

.book h2 {
    margin-bottom: 0px;
    font-size: 25px;
}

.book h3 {
    font-size: 18px;
}

.book p{
    text-align: center;
}

#tableWrapper {
    width: 100%;
    overflow-x: auto;
    background: white;
    border: 1px solid;
    border-radius: 8px;
}

#h1section2 {
    margin-bottom: 7px;
}

#disclaimer {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 14px 20px;
    background: #C1E6FF;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
}

td {
    padding: 18px 20px;
    border-top: 1px solid;
    font-size: 14px;
}

tbody tr:hover {
    background: #f8f5f0;
}

#title {
    font-weight: bold;
}